<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index1.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>test.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Firstjsp</servlet-name>
    <jsp-file>/First.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Firstjsp</servlet-name>
    <url-pattern>/firstjsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BeerSelectionPage</servlet-name>
    <jsp-file>/BeerSelectionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSelectionPage</servlet-name>
    <url-pattern>/BeerSelectionPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectBeer</servlet-name>
    <jsp-file>/SelectBeer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBeer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirect</servlet-name>
    <jsp-file>/Redirect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BeerSizeSelectionPage</servlet-name>
    <jsp-file>/BeerSizeSelectionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSizeSelectionPage</servlet-name>
    <url-pattern>/BeerSizeSelectionPage.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>springSecurityFilterChain</filter-name>
  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
</web-app>